@model ArqueoDB.Models.Publicacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Publicacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataPublicacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataPublicacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Publico)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Publico)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PublicacaoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
