@using ArqueoDB.Models;
@model ArqueoDB.Models.Artefacto

@{
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    string type = "Todas as Imagens";
    
    if(String.IsNullOrEmpty(ViewBag.CurrentType)){
        type = "Todas as Imagens";
    }else if (ViewBag.CurrentType.Equals("Públicos")){
        type = "Imagens Públicas";
    }else if (ViewBag.CurrentType.Equals("Ocultos")){
        type = "Imagens Ocultas";
    }
    
    int nrimagens = 0;
    ViewBag.Title = "Imagens";    
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";
}   
@section breadcrumb {
    <li><a href="/Locais/Details/@Html.DisplayFor(model => model.LocalID)">@Html.DisplayFor(model => model.Local.Nome)</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Dashboard/@Html.DisplayFor(model => model.LocalID)">Gestão do Local</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Artefactos/@Html.DisplayFor(model => model.LocalID)">Artefactos</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/Artefactos/Details/@Html.DisplayFor(model => model.ArtefactoID)">@Html.DisplayFor(model => model.Nome)</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashArtefacto/Dashboard/@Html.DisplayFor(model => model.ArtefactoID)">Gestão do Artefacto</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashArtefacto/Imagens/@Html.DisplayFor(model => model.ArtefactoID)">Imagens</a></li>
}
@section dashboard{
    Imagens  
}

            <div class="span12" style="margin-bottom:20px"> 
                <div class="pull-right" style="" >  
                        <a class="btn btn-inverse pull-right" href="#"><i class="micon-plus"></i>  Adicionar nova imagem</a>
                </div>
               @using (Html.BeginForm()){
                <div class="input-prepend input-append span6" style="margin-left:0px">
                    				<div class="btn-group custom">
										<button class="btn" type="submit" value="Search"> <i class="micon-search-2"></i> Procurar Imagens </button>
									</div>
                    				<input class="span6" type="text" name="searchString">
                        <div class="btn-group dropdown-darkBg custom">
							<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">@type<i class="micon-menu-3"></i></button>
							<ul class="dropdown-menu">
								<li>@Html.ActionLink("Todas as Imagens", "Imagens", new { id=Model.LocalID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter})</li>
								<li>@Html.ActionLink("Imagens Públicas", "Imagens", new { id=Model.LocalID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type="Públicos"})</li>
								<li>@Html.ActionLink("Imagens Ocultas", "Imagens", new { id=Model.LocalID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type="Ocultos"})</li>
							</ul>
						</div>
					</div>
               }
            </div>


<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Anterior</a>
        <a class="btn btn-primary modal-next"><i class="icon-arrow-right icon-white"></i> Próxima</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="4000"><i class="icon-play icon-white"></i> Apresentação</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>

    </div>
</div>

 <div id="modal-from-dom-ocultar" class="modal fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="close">&times;</a>
         <h3>Ocultar Imagem</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende ocultar a imagem ao público?</p><br>
        <p>Aimagem passará a estar apenas disponível para os profissionais da organização, ficando assim oculta para consulta aos utilizadores comuns.</p>
    </div>
    <div class="modal-footer">
        <a href="/Imagens/Ocultar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

 <div id="modal-from-dom-publicar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="close">&times;</a>
         <h3>Publicar Imagem</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende publicar a imagem ao público?</p><br>
        <p>A imagem passará a estar disponível para consulta a todos os utilizadores do sistema.</p>
    </div>
    <div class="modal-footer">
        <a href="/Imagens/Publicar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

<div id="modal-from-dom-remover" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-remover').modal('hide')" class="close">&times;</a>
         <h3>Remover Imagem</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende remover premanentemente a imagem?</p><br>   
        <p>A imagem pode não voltar a ser recuperada, contacte o administrador do sistema para verificar a possibilidade de recuperar uma imagem removido.</p>     
    </div>
    <div class="modal-footer">
        <a href="/Imagens/Remover/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-remover').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>


            <section class="content-wrapper main-content clear-fix">


            <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item">
@foreach (var i in ViewBag.Imagens)
{                   <div class="span3 "
                            @if((nrimagens++)%4==0){
                               <text> style="margin-left:0px"; </text>
                            }
    
                    >
                    <div class="gallery-item imagecont" data-href="@(i.Directoria.Caminho + i.Nome)" title="@i.Descricao" style="background-image:url(@(i.Directoria.Caminho + i.Nome));">
                    </div>
                    <div class="btn-group dropdown-darkBg custom pull-right" style="margin-top:-39px">
                        <button class="btn btn-mini dropdown-togglem" data-toggle="dropdown"><i class="icon-cog"></i></button>
							<ul class="dropdown-menu">
                                    @if(Model.Organizacao.Responsavel.UtilizadorID == user.UtilizadorID){    
                                        if(i.Publica){
                                            <li><a class="confirm-ocultar" data-id="@i.ImagemID"><i class="micon-cancel-2"></i> Ocultar Imagem</a></li>
                                    }else{
                                            <li><a class="confirm-publicar" data-id="@i.ImagemID"><i class="micon-checkmark"></i> Publicar Imagem</a></li>
                                        }
                                    }            
                                    @if (Model.Organizacao.Responsavel.UtilizadorID == user.UtilizadorID)
                                    {
                                        <li><a class="confirm-remover" data-id="@i.ImagemID"><i class="micon-cancel-2"></i> Remover Imagem</a></li>
                                    }
                                                       
   							</ul>
                    </div>
                    </div>

}
           </div>
           @{
                int nrPaginas = ViewBag.Imagens.PageCount;

                if (nrPaginas == 0) { nrPaginas++; };
                
                int pagActual = ViewBag.Imagens.PageNumber;
                                
                int pagi, pagf;
                Utilitarios.paginacao(nrPaginas, pagActual, out pagi, out pagf);
            }
           <div class="span12">
                    <div class="pagination pull-right" style="margin-right:30px">
						<ul>
							<li 
                                @if(pagActual == 1){
                                    <text>class="disabled"</text>
                                }
                            >
                                @Html.ActionLink("«", "Imagens", new { id=Model.ArtefactoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=1})
                            </li>

                            @for (int i = pagi; i <= pagf; i++ ){
							<li
                                @if (pagActual == i)
                                {
                                    <text>class="active"</text>
                                }
                            >
                                @Html.ActionLink(string.Empty+i, "Imagens", new { id=Model.ArtefactoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=@i})
                            </li>
                            }
							<li
                                @if (pagActual == nrPaginas || nrPaginas==0)
                                {
                                    <text>class="disabled"</text>
                                }
                            >
                                @Html.ActionLink("»", "Imagens", new { id=Model.ArtefactoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=nrPaginas})
                           </li>
						</ul>
					</div>
               </div>
           </section>