@model ArqueoDB.Models.Profissional

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Profissional</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.UtilizadorID, "Utilizador")
        </div>
        <div class="editor-field">
            @Html.DropDownList("UtilizadorID", String.Empty)
            @Html.ValidationMessageFor(model => model.UtilizadorID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
