@model ArqueoDB.Models.Utilizador
@using ArqueoDB.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutArqueodb.cshtml";
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    List<Imagem> imagens = ViewBag.Imagens;
}
@section breadcrumb {
				<div class="breadcrumb-button">
				   <a href="#">
                    <span class="breadcrumb-label">
					<i class="icon-group"></i> Utilizadores </span>
					<span class="breadcrumb-arrow"><span></span></span>
                   </a>
				</div>
				<div class="breadcrumb-button">
                   <a href="#">
					<span class="breadcrumb-label">
					<i class="icon-user"></i> @Model.Nome </span>
					<span class="breadcrumb-arrow"><span></span></span>
                   </a>
				</div> 
}
		<div class="container-fluid padded">
			<div class="row-fluid">
				<div class="span10">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
							<div class="title">
								<span><i class="icon-desktop"> </i></span> <span> Perfil de @Model.Nome (@Model.NomeUtilizador)</span>
							</div>
                        @if(Model.isProfessional() && Model.getProfessional().Organizacoes.Count > 0){
							<ul class="box-toolbar">
								<li><span class="label label-red">Trabalhador em Organização</span></li>
							</ul>
                            }
						</div>
						<div class="box-content padded">
							<div class="row-fluid">
								<div class="span2">
									<div id="avatarpic" style="margin: 0px auto 0px; text-align: left;">
										<a href="@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome)" style="background-image:url(@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome));margin: 0px 0px 0px;" title="Lion Rock"></a>
									</div>
								</div>
								<div class="span4" style="padding-left:20px;">
									<h4>@(Model.Titulo.Nome + " " +  Model.Nome)</h4>
									<h5><b> 
                                    @if(Model.isProfessional()){
                                        <text>Arqueólogo</text>
                                    }else{
                                        <text>Utilizador</text>
                                    }
									</b></h5>
									<p>
										 Morador em @Model.Distrito.Nome
									</p>
									<p>
										 Nascido a @Model.DataNascimento.ToShortDateString();
									</p>
								</div>
								<div class="span4" style="padding-left:20px;">
									<h5 style="margin: 10px 0;line-height:23px;">
										<b>Contactos</b>
									</h5>
									<p>
										 Email: @Model.Email
									</p>
									<p>
										 Telefone: @Model.Telemovel
									</p>
									<p>
									    @if(Model.Sexo == 0){
                                            <text>Sexo Desconhecido</text>
                                        }else if(Model.Sexo == 1){
                                            <text>Sexo Masculino</text>
                                        }else{
                                            <text>Sexo Feminino</text>
                                        }
									</p>
								</div>
								<div class=" offset1 span1">
									<a href="@Model.Facebook" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i></a>
									<a href="@Model.Twitter" class="btn btn-twitter btn-block"><i class="icon-twitter-sign"></i></a>
									<a href="@Model.Google" class="btn btn-red btn-block"><i class=" icon-google-plus-sign"></i></a>
									<a href="@Model.Linkedin" class="btn btn-facebook btn-block"><i class="icon-linkedin-sign"></i></a>
								</div>
							</div>
						</div>
					</div>
                    </div>
                    <div class="span2" style="padding-top:20px;">
					<!-- find me in partials/action_nav_normal -->
					<!--big normal buttons-->
					<div class="action-nav-normal">
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="#" title="Enviar Mensagem">
								<i class="icon-envelope"></i>
								<span>Enviar Mensagem</span>
								</a>
								<span class="triangle-button red"><i class="icon-plus"></i></span>
							</div>
						</div>
                        @if (user != null)
                        {
                            if (Model.Seguidores.FirstOrDefault(u => u.UtilizadorID == user.UtilizadorID) == null)
                            {
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="/Utilizadores/Seguir?id=@user.UtilizadorID&seguir=@Model.UtilizadorID" title="Seguir utilizador">
								<i class="icon-rss"></i>
								<span>Seguir utilizador</span>
								</a>
							</div>
						</div>
                            }
                            else
                            {
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="/Utilizadores/DeixarSeguir?id=@user.UtilizadorID&seguir=@Model.UtilizadorID" title="Deixar de seguir utilizador">
								<i class="icon-rss"></i>
								<span>Deixar de seguir</span>
								</a>
							</div>
						</div>
                            }
                        }
					</div>
				</div>
            </div>
        </div>
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span><i class="icon-info-sign"> </i></span> <span> Sobre</span>
							</div>
						</div>
					<div class="box-content" style="padding:10px; height:150px;">
						<div class="row-fluid scrollable" style="height:150px; overflow-y:auto;">
							<p>
                                @Model.Descricao
                            </p>
						</div>
					</div>
				</div>
			</div>

 <!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Anterior</a>
        <a class="btn btn-primary modal-next"><i class="icon-arrow-right icon-white"></i> Próxima</a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="4000"><i class="icon-play icon-white"></i> Apresentação</a>
        <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>

    </div>
</div>

			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span><i class="icon-picture"> </i></span> <span> Galeria</span>
							</div>
						</div>
					<div class="box-content"  style="padding:10px; height:150px;">
						<div class="row-fluid scrollable" style="height:150px; overflow-y:auto;">
							 <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item" style="text-align:center">
								@if (imagens.Count() == 0) {
                                    <text>Nenhuma imagem adicionada até ao momento</text>
                                }else{
                                    foreach (Imagem im in imagens) { 
                                       <div class="gallery-item gallerypic" data-href="@(im.Directoria.Caminho + im.Nome)" title="@im.Descricao" style="background-image:url(@(im.Directoria.Caminho + im.Nome));"></div> 
                                    }
                                }
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span><i class="icon-certificate"> </i></span> <span> Medalahas</span>
							</div>
						</div>
					<div class="box-content"  style="padding:10px; height:150px;">
						<div class="row-fluid scrollable" style="height:150px; overflow-y:auto;">
							 <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="div.gallery-item" style="text-align:center">
								@if (Model.Badges.Count == 0) {
                                    <text>Nenhuma medalha ganha até ao momento</text>
                                }else{
                                    foreach (Badge bad in Model.Badges) { 
                                       <div class="gallery-item gallerypic" data-href="@(bad.Directoria.Caminho + bad.Nome)" title="@bad.Descricao" style="background-image:url(@(bad.Directoria.Caminho + bad.Nome));"></div> 
                                    }
                                }							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
		<div class="container-fluid padded">
			<div class="row-fluid">
				<div class="span6">

<div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-edit"> </i> Publicações</span>
        <ul class="box-toolbar">
          <li><span class="label label-blue">@Model.Publicacoes.Where(p => p.Publico && !p.Apagado).Count()</span></li>
        </ul>
      </div>
      <div class="box-content scrollable" style="height: 300px; overflow-y: auto">
        <!-- find me in partials/news_with_icons -->
        @foreach(Publicacao publ in Model.Publicacoes.Where(p => p.Publico && !p.Apagado)){

        <div class="box-section news with-icons">
          <div class="avatar blue"><i class="icon-lightbulb icon-2x"></i></div>
          <div class="news-time">
            <span>@publ.DataPublicacao.Day</span> @publ.DataPublicacao.ToShortDateString()
          </div>
          <div class="news-content">
            <div class="news-title"><a href="#">@publ.Titulo</a></div>
            <div class="news-text">
                @publ.Descricao
            </div>
          </div>
        </div>
        }
            </div>
            </div>
            </div>
             
				<div class="span6">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
                        <span class="title"><i class="icon-comments-alt"> </i> Comentários</span>
                        <ul class="box-toolbar">
                          <li><span class="label label-blue">@Model.Comentarios.Where(c => !c.Apagado).Count()</span></li>
                        </ul>
						</div>
						<div class="box-content">
							<div class="row-fluid">
								<div class="span12">
                                    <ul class="chat-box timeline scrollable" style="height:300px; overflow-y:auto;">
                                      @foreach (Comentario comm in Model.Comentarios.Where(c => !c.Apagado))
                                      {
                                      <li class="arrow-box-left gray">
                                        <div class="avatar"><img class="avatar-small" src="@(comm.Autor.ImagemPerfil.Directoria.Caminho + comm.Autor.ImagemPerfil.Nome)"></div>
                                        <div class="info">
                                          <span class="name">
                                            <span class="label label-green">Comentário </span> por <strong class="indent">@comm.Autor.Nome</strong>
                                          </span>
                                          <span class="time"><i class="icon-time"></i> @comm.DataPublicacao.ToShortDateString()</span>
                                        </div>
                                        <div class="content">
                                          <blockquote>
                                            @comm.Texto
                                          </blockquote>
                                        </div>
                                      </li>
                                      }
                                    </ul>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
            @if(user!=null){
							<div class="row-fluid">
								<div class="span12">

                                     <div class="box closable-chat-box open">
                                      <div class="box-content padded">

                                        <div class="fields">
                                          <div class="avatar"><img class="avatar-small" src="@(user.ImagemPerfil.Directoria.Caminho + user.ImagemPerfil.Nome)"></div>
                                          <ul>
                                            <li><b>Novo comentário</b></li>
                                            <li>Comenta o perfil de @Model.Nome</li>
                                          <br/>
                                          </ul>
                                          <br/>
                                        </div>

                                        <form class="fill-up" action="/">

                                          <div class="chat-message-box">
                                                <textarea id="comm" name="comentario" placeholder="comentário aqui..." rows="3"></textarea>
                                          </div>

                                          <div class="clearfix actions">
                                            <div class="pull-right faded-toolbar">
                                      
                                              <a href="#" onclick="comentar();" class="btn btn-blue btn-mini">Comentar</a>
                                            </div>
                                          </div>
                                        </form>

                                      </div>
                                    </div>
                        				</div>
			</div>
            }
            </div>
@if(user!=null){
<script>
    var comment = document.getElementById('comm');
    function comentar() {
        if(comment.value !== "")
            window.location.href = "/Utilizadores/Comentar?id=@Model.UtilizadorID&user=@user.UtilizadorID&comentario=" + comment.value
    }
</script>}