@model ArqueoDB.Models.Utilizador
@using ArqueoDB.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutArqueodb.cshtml";
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    List<Imagem> imagens = ViewBag.Imagens;
}
@section breadcrumb {
				<div class="breadcrumb-button">
				   <a href="#">
                    <span class="breadcrumb-label">
					<i class="icon-group"></i> Utilizadores </span>
					<span class="breadcrumb-arrow"><span></span></span>
                   </a>
				</div>
				<div class="breadcrumb-button">
                   <a href="#">
					<span class="breadcrumb-label">
					<i class="icon-user"></i> @Model.Nome </span>
					<span class="breadcrumb-arrow"><span></span></span>
                   </a>
				</div> 
}
		<div class="container-fluid padded">
			<div class="row-fluid">
				<div class="span10">
					<!-- find me in partials/big_chart -->
					<div class="box">
						<div class="box-header">
							<div class="title">
								<span>Perfil de @Model.Nome (@Model.NomeUtilizador)</span>
							</div>
                        @if(Model.isProfessional() && Model.getProfessional().Organizacoes.Count > 0){
							<ul class="box-toolbar">
								<li><span class="label label-red">Trabalhador em Organização</span></li>
							</ul>
                            }
						</div>
						<div class="box-content padded">
							<div class="row-fluid">
								<div class="span2">
									<div id="thumbs" style="margin: 0px auto 0px; text-align: left;">
										<a href="@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome)" style="background-image:url(@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome));margin: 0px 0px 0px;" title="Lion Rock"></a>
									</div>
								</div>
								<div class="span4" style="padding-left:20px;">
									<h4>@Model.Nome</h4>
									<h5><b> 
                                    @if(Model.isProfessional()){
                                        <text>Arqueólogo</text>
                                    }else{
                                        <text>Utilizador</text>
                                    }
									</b></h5>
									<p>
										 Morador em @Model.Distrito.Nome
									</p>
									<p>
										 Nascido a @Model.DataNascimento.ToShortDateString();
									</p>
								</div>
								<div class="span4" style="padding-left:20px;">
									<p style="margin: 10px 0;line-height:23px;">
										<h5><b>Contactos</b></h5>
									</p>
									<p>
										 Email: @Model.Email
									</p>
									<p>
										 Telefone: @Model.Telemovel
									</p>
									<p>
									    @if(Model.Sexo == 0){
                                            <text>Sexo Desconhecido</text>
                                        }else if(Model.Sexo == 1){
                                            <text>Sexo Masculino</text>
                                        }else{
                                            <text>Sexo Feminino</text>
                                        }
									</p>
								</div>
								<div class=" offset1 span1">
									<a href="@Model.Facebook" class="btn btn-facebook btn-block"><i class="icon-facebook-sign"></i></a>
									<a href="@Model.Twitter" class="btn btn-twitter btn-block"><i class="icon-twitter-sign"></i></a>
									<a href="@Model.Google" class="btn btn-red btn-block"><i class=" icon-google-plus-sign"></i></a>
									<a href="@Model.Linkedin" class="btn btn-facebook btn-block"><i class="icon-linkedin-sign"></i></a>
								</div>
							</div>
						</div>
					</div>
                    </div>
                    <div class="span2" style="padding-top:20px;">
					<!-- find me in partials/action_nav_normal -->
					<!--big normal buttons-->
					<div class="action-nav-normal">
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="#" title="Enviar Mensagem">
								<i class="icon-envelope"></i>
								<span>Enviar Mensagem</span>
								</a>
								<span class="triangle-button red"><i class="icon-plus"></i></span>
							</div>
						</div>
                        @if(Model.Seguidores.FirstOrDefault(u => u.UtilizadorID == user.UtilizadorID) == null){
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="/Utilizadores/Seguir?id=@user.UtilizadorID&seguir=@Model.UtilizadorID" title="Seguir utilizador">
								<i class="icon-rss"></i>
								<span>Seguir utilizador</span>
								</a>
							</div>
						</div>
                        }else{
						<div class="row-fluid">
							<div class="span12 action-nav-button">
								<a href="/Utilizadores/DeixarSeguir?id=@user.UtilizadorID&seguir=@Model.UtilizadorID" title="Deixar de seguir utilizador">
								<i class="icon-rss"></i>
								<span>Deixar de seguir</span>
								</a>
							</div>
						</div>
                        }
					</div>
				</div>
            </div>
        </div>
	<div class="container-fluid padded">
		<div class="row-fluid">
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span>Sobre</span>
							</div>
						</div>
					<div class="box-content" style="height:150px; padding:10px">
						<div class="row-fluid" style="height:150px; overflow-y:scroll;">
							<p>
                                @Model.Descricao
                            </p>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span>Galeria</span>
							</div>
						</div>
					<div class="box-content"  style="height:150px; padding:10px">
						<div class="row-fluid" style="height:150px; overflow-y:scroll;">
							<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="text-align:center">
								@if (imagens.Count() == 0) {
                                    <text>Nenhuma imagem adicionada até ao momento</text>
                                }else{
                                    foreach (Imagem im in imagens) { 
                                       <a data-gallery="gallery" href="@(im.Directoria.Caminho + im.Nome)" title="@im.Nome"><img src="@(im.Directoria.Caminho + im.Nome)"></a> 
                                    }
                                }
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<!-- find me in partials/big_chart -->
				<div class="box">
                    	<div class="box-header">
							<div class="title">
								<span>Medalhas</span>
							</div>
						</div>
					<div class="box-content"  style="height:150px; padding:10px">
						<div class="row-fluid" style="height:150px; overflow-y:scroll;">
							<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery" style="text-align:center">
								@if (Model.Badges.Count == 0) {
                                    <text>Nenhuma medalha ganha até ao momento</text>
                                }else{
                                    foreach (Badge bad in Model.Badges) { 
                                       <a data-gallery="gallery" href="@(bad.Directoria.Caminho + bad.Nome)" title="@bad.Nome"><img src="@(bad.Directoria.Caminho + bad.Nome)"></a> 
                                    }
                                }							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
<fieldset>
    <legend>Utilizador</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeUtilizador)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeUtilizador)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Password)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Password)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Distrito.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distrito.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataNascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataNascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sexo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telemovel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telemovel)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Facebook)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Facebook)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Google)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Google)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Twitter)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Twitter)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Linkedin)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Linkedin)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Titulo.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Titulo.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImagemPerfil.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImagemPerfil.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImagemCapa.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImagemCapa.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UtilizadorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
