@model ArqueoDB.Models.Utilizador

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Utilizador</legend>

        @Html.HiddenFor(model => model.UtilizadorID)

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeUtilizador)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeUtilizador)
            @Html.ValidationMessageFor(model => model.NomeUtilizador)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistritoID, "Distrito")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistritoID", String.Empty)
            @Html.ValidationMessageFor(model => model.DistritoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataNascimento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataNascimento)
            @Html.ValidationMessageFor(model => model.DataNascimento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sexo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Sexo)
            @Html.ValidationMessageFor(model => model.Sexo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telemovel)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telemovel)
            @Html.ValidationMessageFor(model => model.Telemovel)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Facebook)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Facebook)
            @Html.ValidationMessageFor(model => model.Facebook)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Google)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Google)
            @Html.ValidationMessageFor(model => model.Google)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Twitter)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Twitter)
            @Html.ValidationMessageFor(model => model.Twitter)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Linkedin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Linkedin)
            @Html.ValidationMessageFor(model => model.Linkedin)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TituloID, "Titulo")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TituloID", String.Empty)
            @Html.ValidationMessageFor(model => model.TituloID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagemPerfilID, "ImagemPerfil")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ImagemPerfilID", String.Empty)
            @Html.ValidationMessageFor(model => model.ImagemPerfilID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagemCapaID, "ImagemCapa")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ImagemCapaID", String.Empty)
            @Html.ValidationMessageFor(model => model.ImagemCapaID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
