@using ArqueoDB.Models;
@model ArqueoDB.Models.Organizacao


@{
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    ViewBag.Title = "Definicoes";
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";  
}

@section breadcrumb {
    <li><a href="/DashOrganizacao/Definicoes/@Html.DisplayFor(model => model.OrganizacaoID)">Definições</a></li>
}
@section dashboard{
    Definições    
}
     

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="well widget">
            
        @Html.HiddenFor(model => model.OrganizacaoID)
            <div class="row-fluid">
                 <div class="span3 center">
                     
                        <img class=" widgetpics" src="@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome)">
                        
                            <div class="uploader" style="margin-left: -20px">
                                <div class="uploader" ><input type="file" class="span6 fancy" id="upl2"  style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                                <span class="action">Choose File</span>
                            </div>
                </div>
                <div class="span3">
                    <div class="editor-label span12" style="margin-left:0px">
                                <label for="user_name"><i class="icon-user"></i> Nome</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "span12" })
                        </div>
                        <div class="span12">
                                @Html.ValidationMessageFor(model => model.Nome, "Nome de organização necessário")
                        </div>
                    </div>

                    <div class="editor-label span12" style="margin-left:0px">
                                <label for="user_mail"><i class="icon-envelope-alt"></i> Email</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                                @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                        </div>
                        <div class="span12">
                                @Html.ValidationMessageFor(model => model.Email, "Email necessário")
                        </div>
                    </div>

                    
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                             <label for="user_morada"><i class="micon-home-2"></i> Morada</label>
                    </div>
                    <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Morada, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Morada)
                        </div>
                    </div>
                    <div class="editor-label span12" style="margin-left:0px">
                            <label for="user_morada"><i class="icon-globe"></i> Coordenadas</label>
                    </div>
                    <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Coordenadas, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Coordenadas)
                        </div>
                    </div>
                    
                   
                </div>
               
            
                <div class="span3">
                    <div class="editor-label span12" style="margin-left:0px">
                        <label for="user_tlm"><i class="icon-phone"></i> Telefone</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Telefone, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Telefone)
                        </div>
                    </div>
                    <div class="editor-label span12" style="margin-left:0px">
                         <label for="user_fax"><i class="icon-print"></i> Fax</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Fax, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Fax)
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    
                    
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                            <label for="user_data"><i class="icon-pencil"></i> Data de fundação</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px"> 
                          <div class="span12 input-xlarge"> 
                              <input class="datepicker span12"  id="DataRegisto" name="DataRegisto" type="text" value="@Model.DataFundacao">
                          </div>
                    </div> 
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                             <label for="user_distrito"><i class="icon-map-marker"></i> Distrito</label>
                    </div>
                     <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.DropDownList("DistritoID", null, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.DistritoID)
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                        <label for="user_resp"><i class="micon-user-3"></i> Responsável</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="saon12">
                             @Html.DropDownList("ResponsavelID", null, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.ResponsavelID)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="editor-label span12">
                          <label for="user_desc"><i class="icon-file"></i>  Descrição</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                          <div class="span12">
                               @Html.TextAreaFor(model => model.Descricao, new { @class = "input-block-level", rows = "5" })
                          </div>
                    </div>
                </div>
            </div>


            <div class="row-fluid">
                  <div class="span6">  
                                    @if(Model.Publica){
                                            <a class="btn btn-small btn-danger t confirm-ocultar" data-id="@Model.OrganizacaoID"><i class="micon-cancel-2"> Ocultar</i></a>
                                    }else{
                                            <a class="btn btn-small btn-cl t confirm-publicar" data-id="@Model.OrganizacaoID"><i class="micon-checkmark"> Publicar</i></a>
                                        }

                                    @if(Model.Activa){
                                            <a class="btn btn-small btn-danger t confirm-desactivar" data-id="@Model.OrganizacaoID"><i class="micon-cancel-2"> Desactivar</i></a>
                                    }else{
                                            <a class="btn btn-small btn-cl t confirm-activar" data-id="@Model.OrganizacaoID"><i class="micon-checkmark"> Activar</i></a>
                                        }


                  </div>
                  <div class="span6">
                          <div class="pull-right">
                            <input class="btn btn-small btn-inverse" type="submit" value="Guardar"> 
                            <a class="btn btn-small btn-danger" href="/DashOrganizacao/Dashboard/@Html.DisplayFor(model => model.OrganizacaoID)"> Voltar</a>
                        </div>
                      </div>
            </div>

         @Html.HiddenFor(model => model.ImagemPerfilID)
         @Html.HiddenFor(model => model.ImagemCapaID)
         @Html.HiddenFor(model => model.DataFundacao)

        
        </div>
    </fieldset>
        
        <div id="modal-from-dom-ocultar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="close">&times;</a>
         <h3>Ocultar Organização</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende ocultar a organização ao público?</p><br>
        <p>A organização passará a estar apenas disponível para os profissionais da organização, ficando assim oculto para consulta aos utilizadores comuns.</p>
    </div>
    <div class="modal-footer">
        <a href="/Organizacoes/Ocultar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

              @*  Confirmar a publicação do documento *@
 <div id="modal-from-dom-publicar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="close">&times;</a>
         <h3>Publicar Organização</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende publicar a organização ao público?</p><br>
        <p>A organização passará a estar disponível para consulta a todos os utilizadores do sistema.</p>
    </div>
    <div class="modal-footer">
        <a href="/Organizacoes/Publicar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>
        
        
               <div id="modal-from-dom-desactivar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-desactivar').modal('hide')" class="close">&times;</a>
         <h3>Desactivar Organização</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende desactivar a organização?</p><br>
        <p>A organização deixará de estar activa. </p>
    </div>
    <div class="modal-footer">
        <a href="/Organizacoes/Desactivar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-desactivar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

              
 <div id="modal-from-dom-activar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-activar').modal('hide')" class="close">&times;</a>
         <h3>Activar Organização</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende activar a organização?</p><br>
        <p>A organização passará a estar activa.</p>
    </div>
    <div class="modal-footer">
        <a href="/Organizacoes/Activar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-activar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>
        
        
}
       


					
				