@model ArqueoDB.Models.Organizacao

@{
    ViewBag.Title = "Definicoes";
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";  
}

@section breadcrumb {
    <li><a href="/DashOrganizacao/Definicoes/@Html.DisplayFor(model => model.OrganizacaoID)">Definições</a></li>
}
@section dashboard{
    Definições    
}
     

    @using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>

        <div class="well widget">
            
        @Html.HiddenFor(model => model.OrganizacaoID)
            <div class="row-fluid">
                 <div class="span3 center">
                     
                        <img class=" widgetpics" src="@(Model.ImagemPerfil.Directoria.Caminho + Model.ImagemPerfil.Nome)">
                        
                            <div class="uploader" style="margin-left: -20px">
                                <div class="uploader" ><input type="file" class="span6 fancy" id="upl2"  style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                                <span class="action">Choose File</span>
                            </div>
                </div>
                <div class="span3">
                    <div class="editor-label span12" style="margin-left:0px">
                                <label for="user_name"><i class="icon-user"></i> Nome</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                                @Html.TextBoxFor(model => model.Nome, new { @class = "span12" })
                        </div>
                        <div class="span12">
                                @Html.ValidationMessageFor(model => model.Nome, "Nome de organização necessário")
                        </div>
                    </div>

                    <div class="editor-label span12" style="margin-left:0px">
                                <label for="user_mail"><i class="icon-envelope-alt"></i> Email</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                                @Html.TextBoxFor(model => model.Email, new { @class = "span12" })
                        </div>
                        <div class="span12">
                                @Html.ValidationMessageFor(model => model.Email, "Email necessário")
                        </div>
                    </div>

                    
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                             <label for="user_morada"><i class="micon-home-2"></i> Morada</label>
                    </div>
                    <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Morada, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Morada)
                        </div>
                    </div>
                    <div class="editor-label span12" style="margin-left:0px">
                            <label for="user_morada"><i class="icon-globe"></i> Coordenadas</label>
                    </div>
                    <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Coordenadas, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Coordenadas)
                        </div>
                    </div>
                    
                   
                </div>
               
            
                <div class="span3">
                    <div class="editor-label span12" style="margin-left:0px">
                        <label for="user_tlm"><i class="icon-phone"></i> Telefone</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Telefone, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Telefone)
                        </div>
                    </div>
                    <div class="editor-label span12" style="margin-left:0px">
                         <label for="user_fax"><i class="icon-print"></i> Fax</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="span12">
                             @Html.TextBoxFor(model => model.Fax, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.Fax)
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="row-fluid">
                <div class="span3">
                    
                    
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                            <label for="user_data"><i class="icon-pencil"></i> Data de fundação</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px"> 
                          <div class="span12 input-xlarge"> 
                               @Html.TextBoxFor(model => model.DataFundacao, new { @Class="datepicker span12" } )
                          </div>
                    </div> 
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                             <label for="user_distrito"><i class="icon-map-marker"></i> Distrito</label>
                    </div>
                     <div class="editor-field" style="margin-left:0px">
                        <div class="span12">
                             @Html.DropDownList("DistritoID", null, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.DistritoID)
                        </div>
                    </div>
                </div>
                <div class="span3">
                    <div class="editor-label span12">
                        <label for="user_resp"><i class="micon-user-3"></i> Responsável</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                        <div class="saon12">
                             @Html.DropDownList("ResponsavelID", null, new { @class = "span12" })
                        </div>
                        <div class="span12">
                             @Html.ValidationMessageFor(model => model.ResponsavelID)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="editor-label span12">
                          <label for="user_desc"><i class="icon-file"></i>  Descrição</label>
                    </div>
                    <div class="editor-field span12" style="margin-left:0px">
                          <div class="span12">
                               @Html.TextAreaFor(model => model.Descricao, new { @class = "input-block-level", rows = "5" })
                          </div>
                    </div>
                </div>
            </div>


            <div class="row-fluid">
                  <div class="span12">
                          <div class="pull-right">
                            <input class="btn btn-inverse" type="submit" value="Guardar"> 
                            <a class="btn btn-danger" href="/DashOrganizacao/Dashboard/@Html.DisplayFor(model => model.OrganizacaoID)"  style="padding:4px 23px"> Voltar</a>
                        </div>
                      </div>
            </div>

         @Html.HiddenFor(model => model.ImagemPerfilID)
         @Html.HiddenFor(model => model.ImagemCapaID)
         @Html.HiddenFor(model => model.DataFundacao)

        
        </div>
    </fieldset>
}
       


					
				