@model ArqueoDB.Models.Organizacao

@{
    ViewBag.Title = "Definicoes";
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";  
}

@section breadcrumb {
    <li><a href="/DashOrganizacao/Definicoes/@Html.DisplayFor(model => model.OrganizacaoID)">Definições</a></li>
}
@section dashboard{
    Definições    
}
     
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

                    
        @using (Html.BeginForm()) {
        @Html.ValidationSummary(true)
            <fieldset>
            <legend class="muted" style="font-size: 20.5px">Editar Perfil</legend>
                <div class="well widget">
                  <div class="row-fluid">
                 
                    @Html.HiddenFor(model => model.OrganizacaoID)
                    <div class="span9" style="margin-left:0px;">
                         <img class="media span12" style="height:230px;" src="http://www.dem.uminho.pt/people/mlima/imagens/UM-Azurem2.JPG">
                            <div class="pull-right">
                                    <div class="uploader" id="uniform-upl">
                                    <input type="file" class="span6 fancy" id="upl" size="19" style="opacity: 0;">
                                    <span class="filename">No file selected</span><span class="action">Choose File</span>
                                    </div>
                            </div>
                   </div>
                   <div class="span3">
                        <img alt="" class="aligncenter" style="height:230px;" src="http://4.bp.blogspot.com/-odz4faOQ62k/UR0riQhcEOI/AAAAAAAAHPU/OtRUrowp9U8/s400/images.jpg">
                        <div class="pull-right">
                            <div class="uploader" style="margin-left: -20px">
                                <div class="uploader" ><input type="file" class="span6 fancy" id="upl2" size="19" style="opacity: 0;"><span class="filename">No file selected</span><span class="action">Choose File</span></div>
                                <span class="action">Choose File</span>
                            </div>
                        </div>
                   </div>
                   <div class="span4">
                         <form>
                         <div class="editor-label span12">
                            <label for="user_name"><i class="icon-user"></i> Nome</label>
                        </div>
                        <div class="editor-field span12" style="margin-left:0px">
                            <div class="span12">
                                  @Html.TextBoxFor(model => model.Nome, new {@class="input-xlarge" })
                            </div>
                            <div class="span12" style="margin-left:0px">
                                  @Html.ValidationMessageFor(model => model.Nome)
                            </div>
                        </div>
                        <div class="editor-label span12">
                            <label for="user_mail"><i class="icon-envelope-alt"></i> Email</label>
                        </div>
                        <div class="editor-field span12" style="margin-left:0px"> 
                            <div class="span12">           
                                  @Html.TextBoxFor(model => model.Email, new {@class="input-xlarge" })
                            </div>
                            <div class="span12" >
                                  @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        </div>
                        <div class="editor-field span12" style="margin-left:0px">
                            <div class="span12"> 
                                  <label for="user_data"><i class="icon-pencil"></i> Data de fundação</label>
                            </div>
                        <div class="editor-field span12" style="margin-left:0px"> 
                            <div class="span12">           
                                  @Html.TextBoxFor(model => model.DataFundacao, new {@class="input-xlarge" })
                            </div>
                            <div class="span12">
                                  @Html.ValidationMessageFor(model => model.DataFundacao)
                            </div>
                        </div>

                        </div> 
                            
                        </form>
                     </div>   
                     <div class="span4">
                             <form>
                             <div class="editor-label span12">
                                 <label for="user_morada"><i class="micon-home-2"></i> Morada</label>
                             </div>
                             <div class="editor-field span12" style="margin-left:0px">
                                    <div class="span12">
                                        @Html.TextBoxFor(model => model.Morada, new {@class="input-xlarge" })
                                    </div>
                                    <div class="span12">
                                        @Html.ValidationMessageFor(model => model.Morada)
                                    </div>
                            </div>  
                            <div class="editor-label span12">
                                  <label for="user_distrito"><i class="icon-map-marker"></i> Distrito</label>
                            </div>
                            <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                       @Html.TextBoxFor(model => model.Distrito, new { @class="input-xlarge" })
                                  </div>
                                  <div class="span12">
                                       @Html.ValidationMessageFor(model => model.Distrito)
                                  </div>
                            </div>
                            <div class="editor-label span12">     
                                  <label for="user_coord"><i class="icon-globe"></i> Coordenadas</label>
                            </div>
                            <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                       @Html.TextBoxFor(model => model.Coordenadas, new {@class="input-xlarge" })
                                  </div>
                                  <div class="span12">
                                       @Html.ValidationMessageFor(model => model.Coordenadas)
                                  </div>
                             </div>
                             </form>
                        </div>
                       <div class="span3">
                             <form>
                             <div class="editor-label span12">   
                                  <label for="user_tlm"><i class="icon-phone"></i> Telefone</label>
                             </div>
                             <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                       @Html.TextBoxFor(model => model.Telefone, new {@class="input-xlarge" })
                                  </div>
                                  <div class="span12">
                                       @Html.ValidationMessageFor(model => model.Telefone)
                                  </div>
                             </div>
                             <div class="editor-label span12">
                                  <label for="user_fax"><i class="icon-print"></i> Fax</label>
                            </div>
                            <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                      @Html.TextBoxFor(model => model.Fax, new {@class="input-xlarge" })
                                  </div>
                                  <div class="span12">
                                      @Html.ValidationMessageFor(model => model.Fax)
                                  </div>
                            </div>
                            <div class="editor-label span12">
                                  <label for="user_resp"><i class="micon-user-3"></i> Responsável</label>
                            </div>
                            <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                      @Html.TextBoxFor(model => model.Responsavel, new {@class="input-xlarge" })
                                  </div>
                                  <div class="span12">
                                      @Html.ValidationMessageFor(model => model.Responsavel)
                                  </div>
                            </div>
                            </form>
                        </div>
                        <div class="span11">
                            <form>
                            <div class="editor-label span12">
                                <label for="user_desc"><i class="icon-file"></i>  Descrição</label>
                            </div>
                            <div class="editor-field span12" style="margin-left:0px">
                                  <div class="span12">
                                     @Html.TextAreaFor(model => model.Descricao, new { @class = "input-block-level", rows = "5" })
                                  </div>
                            </div>
                            </form>
                        </div>

                        <div class="span2">
                           <form>
                            <div class="editor-label span4">
                                    <label for="user_pub">  Publicar</label>
                             
                            </div>	
                            <div class="span2">
                                    @Html.CheckBox("Publicar", Model.Publica)
						    </div>
                          </form>
                       </div>
                      <div class="span2">
                           <form>
                            <div class="editor-label span4">
                                 <div class="pull-right">
                                    <label for="user_pub">  Activar</label>
                                 </div>
                            </div>	
                            <div class="span2">
                                    @Html.CheckBox("Apagae", Model.Activa)
						    </div>
                          </form>
                       </div>
                      <div class="span2">
                           <form>
                            <div class="editor-label span4">
                                 <div class="pull-right">
                                    <label for="user_pub">  Apagar</label>
                                 </div>
                            </div>	
                            <div class="span2">
                                    @Html.CheckBox("Apagae", Model.Apagada)
						    </div>
                          </form>
                       </div>
                       <div class="span5">
                          <div class="pull-right">
                            <input class="btn btn-inverse" type="submit" value="Guardar"> 
                            <a class="btn btn-danger" href="#"  style="padding:4px 23px"> Voltar</a>
                        </div>
                      </div>
            </div>
           </div>
          </fieldset>
        }
     

					
				