@using ArqueoDB.Models;
@model ArqueoDB.Models.Organizacao

@{
    Utilizador user = ((Utilizador)(Session["Utilizador"]));
    string type = "Todos os Locais";
    
    if(String.IsNullOrEmpty(ViewBag.CurrentType)){
        type = "Todos os Locais";
    }else if (ViewBag.CurrentType.Equals("Públicos")){
        type = "Locais Públicos";
    }else if (ViewBag.CurrentType.Equals("Ocultos")){
        type = "Locais Ocultos";
    }
    
    int nrlocais = 0;
    ViewBag.Title = "Locais";    
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";
}   
@section breadcrumb {
    <li><a href="/DashOrganizacao/Locais/@Html.DisplayFor(model => model.OrganizacaoID)">Locais</a></li>
}
@section dashboard{
    Locais    
}

            <div class="span12" style="margin-bottom:20px"> 
                @if(Model.Responsavel.UtilizadorID == user.UtilizadorID){
                    <div class="pull-right" style="margin-left:10px" >  
                            <a class="btn btn-inverse pull-right" href="#requererGestaoModal" data-toggle="modal"><i class="micon-share"></i> Requerer Organização de novo local</a>
                    </div>
                }
                <div class="pull-right" style="" >  
                        <a class="btn btn-inverse pull-right" href="#novoLocalModal" data-toggle="modal"><i class="micon-plus"></i>  Adicionar novo local</a>
                </div>
               @using (Html.BeginForm()){
                <div class="input-prepend input-append span6" style="margin-left:0px">
                    				<div class="btn-group custom">
										<button class="btn" type="submit" value="Search"> <i class="micon-search-2"></i> Procurar Locais </button>
									</div>
                    				<input class="span6" type="text" name="searchString">
                        <div class="btn-group dropdown-darkBg custom">
							<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown">@type<i class="micon-menu-3"></i></button>
							<ul class="dropdown-menu">
								<li>@Html.ActionLink("Todos os Locais", "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter})</li>
								<li>@Html.ActionLink("Locais Públicos", "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type="Públicos"})</li>
								<li>@Html.ActionLink("Locais Ocultos", "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type="Ocultos"})</li>
							</ul>
						</div>
					</div>
               }
            </div>



                                    
 <div id="modal-from-dom-ocultar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="close">&times;</a>
         <h3>Ocultar Local</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende ocultar o local ao público?</p><br>
        <p>O local passará a estar apenas disponível para os profissionais da organização, ficando assim oculto para consulta aos utilizadores comuns.</p>
    </div>
    <div class="modal-footer">
        <a href="/Locais/Ocultar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-ocultar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

 <div id="modal-from-dom-publicar" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="close">&times;</a>
         <h3>Publicar Local</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende publicar o local ao público?</p><br>
        <p>O local passará a estar disponível para consulta a todos os utilizadores do sistema.</p>
    </div>
    <div class="modal-footer">
        <a href="/Locais/Publicar/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-publicar').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>
                                    
<div id="modal-from-dom-remover" class="modal hide fade">
    <div class="modal-header">
        <a href="javascript:$('#modal-from-dom-remover').modal('hide')" class="close">&times;</a>
         <h3>Remover Local</h3>
    </div>
    <div class="modal-body">
        <p>Tem a certeza que pretende remover premanentemente o local?</p><br>   
        <p>O local pode não voltar a ser recuperado, contacte o administrador do sistema para verificar a possibilidade de recuperar um local removido.</p>     
    </div>
    <div class="modal-footer">
        <a href="/Locais/Remover/IDLOCAL" class="btn btn-danger">Sim</a>
        <a href="javascript:$('#modal-from-dom-remover').modal('hide')" class="btn btn-inverse">Não</a>
    </div>
</div>

            <section class="content-wrapper main-content clear-fix">
@foreach(var l in ViewBag.Locais){
    					<div class="span6" 
                            @if((nrlocais++)%2==0){
                               <text> style="margin-left:0px"; </text>
                            }
                         >
					
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header">
								<h3 class="title"><a href="/DashLocal/Dashboard/@l.LocalID">@l.Nome</a></h3>
                                @if(Model.Responsavel.UtilizadorID == user.UtilizadorID){
								<div class="widget-nav">
									<div class="dropdown nav-item">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
										<i class="icon-cog"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
												<a href="#">Entregar gestão do local</a>
                                                <a class="confirm-remover" data-id="@l.LocalID">Remover local</a>
											</li>
										</ul>
									</div>
								</div>
                                }
							</div>
							<!-- ./ widget header -->
							
							<!-- widget content -->
							<div class="widget-content" style=" height:100px;">
                                <div class="span4">
                                    <a href="/DashLocal/Dashboard/@l.LocalID">
                                        <div class="span12 widgetpic" style=" background-image:url(
                                                @(Model.Locais.Where(loc => loc.LocalID == l.LocalID).ElementAt(0).Imagens.ElementAt(0).Directoria.Caminho + Model.Locais.Where(loc => loc.LocalID == l.LocalID).ElementAt(0).Imagens.ElementAt(0).Nome)
                                        );">
                                        </div>
                                    </a>
                                </div>
                                <div class="span8">
                                    <b>Responsável:</b> <a href="/Utilizadores/Details/@l.Responsavel.Utilizador.UtilizadorID">@l.Responsavel.Utilizador.Nome</a><br>
                                    <b>Distrito:</b> <a href="/Distritos/Details/@l.DistritoID">@l.Distrito.Nome</a><br>
                                    <b>Cordenadas:</b> @l.Coordenadas<br>
                                </div>
                                <div class="span8" style="margin-top:20px">
                                    <a class="btn btn-small btn-inverse t" href="/Locais/Details/@l.LocalID"><i class="micon-eye"></i> Ver local</a>
                                    <a class="btn btn-small btn-inverse t" href="/DashLocal/Dashboard/@l.LocalID"><i class="micon-pencil-2"></i> Gerir local</a>       
                                    
                                    @if(Model.Responsavel.UtilizadorID == user.UtilizadorID){    
                                        if(l.Publico){
                                            <a class="btn btn-small btn-danger t pull-right confirm-ocultar" data-id="@l.LocalID"><i class="micon-cancel-2"> Ocultar</i></a>
                                    }else{
                                            <a class="btn btn-small btn-cl t pull-right confirm-publicar" data-id="@l.LocalID"><i class="micon-checkmark"> Publicar</i></a>
                                        }
                                    }
                                </div>
							</div>
							<!-- ./ widget content -->
							
						</div>	

					</div>
    
}

           @{
                int nrPaginas = ViewBag.Locais.PageCount;

                if (nrPaginas == 0) { nrPaginas++; };
                
                int pagActual = ViewBag.Locais.PageNumber;
                                
                int pagi, pagf;
                Utilitarios.paginacao(nrPaginas, pagActual, out pagi, out pagf);
            }
           <div class="span12">
                    <div class="pagination pull-right" style="margin-right:30px">
						<ul>
							<li 
                                @if(pagActual == 1){
                                    <text>class="disabled"</text>
                                }
                            >
                                @Html.ActionLink("«", "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=1})
                            </li>

                            @for (int i = pagi; i <= pagf; i++ ){
							<li
                                @if (pagActual == i)
                                {
                                    <text>class="active"</text>
                                }
                            >
                                @Html.ActionLink(string.Empty+i, "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=@i})
                            </li>
                            }
							<li
                                @if (pagActual == nrPaginas || nrPaginas==0)
                                {
                                    <text>class="disabled"</text>
                                }
                            >
                                @Html.ActionLink("»", "Locais", new { id=Model.OrganizacaoID, sortOrder = ViewBag.CurrentSort, currentFilter=ViewBag.CurrentFilter, type= ViewBag.CurrentType, page=nrPaginas})
                           </li>
						</ul>
					</div>
               </div>


           </section>
            <div id="novoLocalModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
					<h3 id="myModalLabel">Adicionar novo Local</h3>
				</div>
                @using (Html.BeginForm("AdicionarLocal", "DashOrganizacao", new { idOrg = Model.OrganizacaoID }, FormMethod.Post))
                {
				<div class="modal-body">
								<fieldset>
									<div class="row-fluid">
										<label><h4>Nome</h4></label>
										<input type="text" class="input-xlarge" placeholder="Escreva o nome do Local" name="name">
										<hr>

										<label><h4>Descrição</h4></label>
										<textarea class="span12 input-block-level" rows="3" placeholder="Escreva uma pequena descrição" name="descricao"></textarea>
										<hr>

										<label class="checkbox">
										<div class="checker" id="uniform-undefined"><span><input type="checkbox" class="fancy" style="opacity: 0;" name="isPublico"></span></div> Tornar público
										</label>
										<hr>
									</div>
                                    <!--
									<div class="row-fluid">
												
                                                <div class="span6">
												<label><h4>Organização</h4></label>
												<select class="cselect span12 chzn-done" data-placeholder="Selecione uma organização..." id="sel8X" name="organizacao">
											    	@foreach(Local l in Model.Locais ){
                                                         if(!l.Apagado){
                                                        <option> @l.Nome </option>
                                                        }
                                                    }
												</select>
												</div>
                                                
												<div class="span6">
												<label><h4>Responsável</h4></label>
												<select class="cselect span12 chzn-done" data-placeholder="Selecione uma categoria..." id="sel8N" name="categoria">
											    	@foreach(Local l in Model.Locais ){
                                                         if(!l.Apagado){
                                                        <option> @l.Nome </option>
                                                        }
                                                    }
												</select>
												</div>

									</div>
                                    -->
									<div class="row-fluid">
										<hr>
										
										<label><h4>Coordenadas</h4></label>
										<input type="text" class="input-xlarge" placeholder="Insira as coordenadas" name="coordenadas">
										
										<hr>
									</div>

								</fieldset>
				</div>
				<div class="modal-footer">
					<button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
					<button class="btn btn-primary" type="submit">Adicionar</button>
				</div>
            }
			</div>

            <div id="requererGestaoModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	            <div class="modal-header">
		            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove-circle"></i></button>
		            <h3 id="myModalLabel">Requerer Organização de novo local</h3>
	            </div>
				@using (Html.BeginForm("RequererOrgLocal", "DashOrganizacao", new { idOrg = Model.OrganizacaoID }, FormMethod.Post))
    {
					<div class="modal-body">
                    <fieldset>
						<div class="row-fluid">
							<label><h4>Organização</h4></label>
									<select class="cselect span12 chzn-done" data-placeholder="Select category..." id="sel8NX" name="local">
								    @foreach(Local l in Model.Locais ){
                                        if(!l.Apagado){
                                        <option> @l.Nome </option>
                                        }
                                    }   
                                    </select>                                    
							<hr>
							<label><h4>Mensagem</h4></label>
							<textarea class="span12 input-block-level" rows="3" placeholder="Escreva uma pequeno texto a explicar o porquê da requisição" name="mensagem"></textarea>
							<hr>
                        </div>
					</fieldset>
                </div>
	            <div class="modal-footer">
		               <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
		               <button class="btn btn-primary" type="submit">Requerer</button>
	            </div>
				}
            </div>



            