@model ArqueoDB.Models.Organizacao

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Organizacao</legend>

        @Html.HiddenFor(model => model.OrganizacaoID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Coordenadas)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Coordenadas)
            @Html.ValidationMessageFor(model => model.Coordenadas)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Morada)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Morada)
            @Html.ValidationMessageFor(model => model.Morada)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DistritoID, "Distrito")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DistritoID", String.Empty)
            @Html.ValidationMessageFor(model => model.DistritoID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ResponsavelID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ResponsavelID)
            @Html.ValidationMessageFor(model => model.ResponsavelID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataFundacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataFundacao)
            @Html.ValidationMessageFor(model => model.DataFundacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Fax)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Fax)
            @Html.ValidationMessageFor(model => model.Fax)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagemPerfilID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImagemPerfilID)
            @Html.ValidationMessageFor(model => model.ImagemPerfilID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagemCapaID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImagemCapaID)
            @Html.ValidationMessageFor(model => model.ImagemCapaID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Publica)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Publica)
            @Html.ValidationMessageFor(model => model.Publica)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
