@model ArqueoDB.Models.ImagemLocal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ImagemLocal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Imagem.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imagem.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Local.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Local.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ImagemLocalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
