@model ArqueoDB.Models.ImagemLocal

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ImagemLocal</legend>

        @Html.HiddenFor(model => model.ImagemLocalID)

        <div class="editor-label">
            @Html.LabelFor(model => model.ImagemID, "Imagem")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ImagemID", String.Empty)
            @Html.ValidationMessageFor(model => model.ImagemID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LocalID, "Local")
        </div>
        <div class="editor-field">
            @Html.DropDownList("LocalID", String.Empty)
            @Html.ValidationMessageFor(model => model.LocalID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
