@using ArqueoDB.Models;

@{

    Organizacao org = ((Organizacao)(Session["Organizacao"]));
    Utilizador user = ((Utilizador)(Session["Utilizador"]));

}

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<title> @org.Nome - ArqueoDB</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Olas Navigator">

		<!-- required styles -->
		<link href="../../Content/library_org/assets/css/bootstrap.css" rel="stylesheet">
		<link href="../../Content/library_org/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../../Content/library_org/css/styles.css" rel="stylesheet">

        <!-- Image gallery -->
        <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
         <link rel="stylesheet" href="../../Content/library_org/css/bootstrap-image-gallery.min.css">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		<!-- header -->
		<div id="header" class="navbar">
			<div class="navbar-inner">
				<!-- company or app name -->
				<a class="brand hidden-phone" href="/DashOrganizacao/Dashboard/@org.OrganizacaoID"><b>@org.Nome</b></a>
				
				<!-- nav icons -->
				<ul class="nav">
					
				</ul>
				
				<ul class="nav pull-right">
					<li class="visible-phone">
						<a href="index.html#"><i class="icon-large icon-search"></i></a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-large icon-globe"></i>
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-large icon-envelope"></i>
							5
						</a>
					</li>
					
					<li>
						<a href="/DashOrganizacao/Definicoes/@org.OrganizacaoID)">
							<i class="icon-large icon-cog"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-large icon-briefcase"></i>
						</a>
						
						<ul class="dropdown-menu dropdown-user-account">
						
							<li class="account-img-container">
								<img class="thumb account-img" src="@(org.ImagemPerfil.Directoria.Caminho + org.ImagemPerfil.Nome)" />
							</li>
							
							<li class="account-info">
								<h3> @org.Nome</h3>
                                <p><br><b>Responsável:</b> <a href="/Utilizadores/Details/@org.Responsavel.UtilizadorID">@org.Responsavel.Utilizador.Nome</a><br>
                                   <b>Estado actual:</b> 
                                    @if(org.Activa==true){
                                        <text>Activa</text>
                                    }else{
                                        <text>Inactiva</text>
                                    }
                                </p>
							</li>
							
							<li class="account-footer">
								<div class="row-fluid">
								
									<div class="">
										<a class="btn btn-small btn-primary btn-flat" href="/Organizacoes/Details/@org.OrganizacaoID">Perfil</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-warning btn-flat" href="/DashOrganizacao/Dashboard/@org.OrganizacaoID">Gerir Organização</a>
									</div>
								</div>									
							</li>
							
						</ul>
					</li>					
					<!-- dropdown user account -->
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-large icon-user"></i>
						</a>
						
						<ul class="dropdown-menu dropdown-user-account">
						
							<li class="account-img-container">
								<img class="thumb account-img" src="@(user.ImagemPerfil.Directoria.Caminho + user.ImagemPerfil.Nome)" />
							</li>
							
							<li class="account-info">
								<h3>@user.Nome</h3>
								<p><br><b>Nome de Utilizador:</b> @user.NomeUtilizador<br>
                                <b>Distrito:</b> @user.Distrito.Nome

								</p>
							</li>
							
							<li class="account-footer">
								<div class="row-fluid">
								
									<div class="">
										<a class="btn btn-small btn-primary btn-flat" href="/Utilizadores/Details/@user.UtilizadorID">Perfil</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-warning btn-flat" href="/Utilizadores/Definicoes/">Definições</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-danger btn-flat" href="#">Sair</a>
									</div>
									
								</div>									
							</li>
							
						</ul>
					</li>
					<!-- ./ dropdown user account -->
				</ul>
				
				<!-- search form -->
				<form class="navbar-search pull-right hidden-phone" action="">
					<input type="text" class="search-query span4" placeholder="procurar...">
				</form>
				<!-- ./ search form -->
			</div>
		</div>
		<!-- end header -->		
		
		<div id="left_layout">
			<!-- main content -->
			<div id="main_content" class="container-fluid">
			
				<!-- page heading -->
				<div class="page-heading">
				
					<h2 class="page-title muted">
						<i class="icon-dashboard"></i> @RenderSection("dashboard", required: true)
					</h2>
					
					<div class="page-info hidden-phone">
						<ul class="stats">
                @if(String.Compare((string)ViewData["Dashboard"],"Organizacao")==0){
                    @Html.Partial("_StatsOrgDO")
                }
                else if (String.Compare((string)ViewData["Dashboard"], "Local") == 0)
                {
                    @Html.Partial("_StatsLocalDO")
                }
                else if (String.Compare((string)ViewData["Dashboard"], "Artefacto") == 0)
                {
                    @Html.Partial("_StatsArtDO")
                }       
                       	</ul>
					</div>
				</div>
				<!-- ./ page heading -->
				
				<ul class="breadcrumb breadcrumb-main">
					<li><a href="/Organizacoes/Details/@org.OrganizacaoID">@org.Nome</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
					<li><a href="/DashOrganizacao/Dashboard/@org.OrganizacaoID">Gestão da Organização</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
					@RenderSection("breadcrumb", required: true)
				</ul>
				
				<!-- post wrapper -->				
				<div class="row-fluid">
                    @RenderBody()
				</div>
				<!-- ./ post wrapper -->
			</div>
			<!-- end main content -->
			
			<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">
                @if(String.Compare((string)ViewData["Dashboard"],"Organizacao")==0){
                    @Html.Partial("_SidebarOrgDO")
                }
                else if (String.Compare((string)ViewData["Dashboard"], "Local") == 0)
                {
                    @Html.Partial("_SidebarLocalDO")
                }
                else if (String.Compare((string)ViewData["Dashboard"], "Artefacto") == 0)
                {
                    @Html.Partial("_SidebarArtefactoDO")
                }       
            </ul>
            <!-- end sidebar -->
            </div>

		<!-- base -->
		<script src="../../Content/library_org/assets/js/jquery.js"></script>
		<script src="../../Content/library_org/assets/js/bootstrap.min.js"></script>
		
		<!-- addons -->
		<script src="../../Content/library_org/plugins/chart-plugins.js"></script>
		<script src="../../Content/library_org/plugins/jquery-ui-slider.js"></script>
		<script src="../../Content/library_org/library/plugins/redactor/redactor.min.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/markermanager.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/StyledMarker.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/jquery.metadata.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/jquery.jmapping.min.js"></script>
		<script src="../../Content/library_org//plugins/jquery.uniform.js"></script>
		<script src="../../Content/library_org/plugins/chosen.jquery.min.js"></script>
		<script src="../../Content/library_org/plugins/bootstrap-datepicker.js"></script>
		<script src="../../Content/library_org/plugins/jquery.timePicker.min.js"></script>

        <script src="../../Content/library_org/js/bootbox.js"></script>
        <script src="../../Content/library_org/js/model-confirm.js"></script>

        <!-- Image Galery -->
        <script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
        <script src="../../Content/library_org/js/bootstrap-image-gallery.min.js"></script>

        @Scripts.Render("~/bundles/jqueryval")

                <script>
                    $('.datepicker').datepicker({
                        format: 'dd-mm-yyyy'
                    });
        </script>
	</body>
</html>
