@model ArqueoDB.Models.Organizacao

<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8">
		<title> @Html.DisplayFor(model => model.Nome) - ArqueoDB</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Olas Navigator">

		<!-- required styles -->
		<link href="../../Content/library_org/assets/css/bootstrap.css" rel="stylesheet">
		<link href="../../Content/library_org/assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="../../Content/library_org/css/styles.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>
	<body>
		 @RenderBody()
		<!-- header -->
		<div id="header" class="navbar">
			<div class="navbar-inner">
				<!-- company or app name -->
				<a class="brand hidden-phone" href="/DashOrganizacao/Dashboard/@Html.DisplayFor(model => model.OrganizacaoID)"> @Html.DisplayFor(model => model.Nome)</a>
				
				<!-- nav icons -->
				<ul class="nav">
					
				</ul>
				
				<ul class="nav pull-right">
					<li class="visible-phone">
						<a href="index.html#"><i class="icon-large icon-search"></i></a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-large icon-globe"></i>
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-large icon-envelope"></i>
							5
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-large icon-cog"></i>
						</a>
					</li>
					<li class="dropdown">
						<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-large icon-briefcase"></i>
						</a>
						
						<ul class="dropdown-menu dropdown-user-account">
						
							<li class="account-img-container">
								<img class="thumb account-img" src="library/images/100/um.jpg" />
							</li>
							
							<li class="account-info">
								<h3> @Html.DisplayFor(model => model.Nome)</h3>
								<p>@Html.DisplayFor(model => model.Descricao).</p>
							</li>
							
							<li class="account-footer">
								<div class="row-fluid">
								
									<div class="">
										<a class="btn btn-small btn-primary btn-flat" href="#">Perfil</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-warning btn-flat" href="#">Dashboard</a>
									</div>
								</div>									
							</li>
							
						</ul>
					</li>					
					<!-- dropdown user account -->
					<li class="dropdown">
						<a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="icon-large icon-user"></i>
						</a>
						
						<ul class="dropdown-menu dropdown-user-account">
						
							<li class="account-img-container">
								<img class="thumb account-img" src="library/images/100/07.png" />
							</li>
							
							<li class="account-info">
								<h3>Nome Utilizador</h3>
								<p>Descrição Utilizador.</p>
							</li>
							
							<li class="account-footer">
								<div class="row-fluid">
								
									<div class="">
										<a class="btn btn-small btn-primary btn-flat" href="#">Perfil</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-warning btn-flat" href="#">Definições</a>
									</div>
									<div class="">
										<a class="btn btn-small btn-danger btn-flat" href="#">Sair</a>
									</div>
									
								</div>									
							</li>
							
						</ul>
					</li>
					<!-- ./ dropdown user account -->
				</ul>
				
				<!-- search form -->
				<form class="navbar-search pull-right hidden-phone" action="">
					<input type="text" class="search-query span4" placeholder="procurar...">
				</form>
				<!-- ./ search form -->
			</div>
		</div>
		<!-- end header -->		
		
		<div id="left_layout">
			<!-- main content -->
			<div id="main_content" class="container-fluid">
			
				<!-- page heading -->
				<div class="page-heading">
				
					<h2 class="page-title muted">
						<i class="icon-dashboard"></i> Dashboard
					</h2>
					
					<div class="page-info hidden-phone">
						<ul class="stats">
							<li>
								<span class="large text-warning">2354</span>
								<span class="mini muted">Publicações</span>
							</li>
							<li>
								<span class="large text-info">4523</span>
								<span class="mini muted">Membros</span>
							</li>
							<li>
								<span class="large text-success">5673</span>
								<span class="mini muted">Locais</span>
							</li>
							<li>
								<span class="large text-error">15</span>
								<span class="mini muted">Seguidores</span>
							</li>
						</ul>
					</div>
				</div>
				<!-- ./ page heading -->
				
				<ul class="breadcrumb breadcrumb-main">
					<li><a href="#">@Html.DisplayFor(model => model.Nome)</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
					<li><a href="/DashOrganizacao/Dashboard/@Html.DisplayFor(model => model.OrganizacaoID)">Gestão da Organização</a> <span class="divider"><i class="icon-caret-right"></i></span></li>
					<li>@RenderSection("breadcrumb", required: true)</li>
				</ul>
				
				<!-- post wrapper -->				
				<div class="row-fluid">

				</div>
				<!-- ./ post wrapper -->
			</div>
			<!-- end main content -->
			
			<!-- sidebar -->
			<ul id="sidebar" class="nav nav-pills nav-stacked">
                <li class="avatar hidden-phone">
                    @RenderSection("avatar",required: true)
                </li>
                @Html.Partial("_SidebarOrgDO")
            </ul>
            <!-- end sidebar -->
            </div>
                        
                        <!-- external api -->
		<script src="http://maps.google.com/maps/api/js?v=3.5&sensor=false"></script>
		
		<!-- base -->
		<script src="../../Content/library_org/assets/js/jquery.js"></script>
		<script src="../../Content/library_org/assets/js/bootstrap.min.js"></script>
		
		<!-- addons -->
		<script src="../../Content/library_org/plugins/chart-plugins.js"></script>
		<script src="../../Content/library_org/plugins/jquery-ui-slider.js"></script>
		<script src="../../Content/library_org/library/plugins/redactor/redactor.min.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/markermanager.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/StyledMarker.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/jquery.metadata.js"></script>
		<script src="../../Content/library_org/plugins/jmapping/jquery.jmapping.min.js"></script>
		<script src="../../Content/library_org//plugins/jquery.uniform.js"></script>
		<script src="../../Content/library_org/plugins/chosen.jquery.min.js"></script>
		<script src="../../Content/library_org/plugins/bootstrap-datepicker.js"></script>
		<script src="../../Content/library_org/plugins/jquery.timePicker.min.js"></script>
				
		<!-- plugins loader -->
		<script src="../../Content/library_org/js/loader.js"></script>
	</body>
</html>
