@model ArqueoDB.Models.Local

@{
    int nr_artefactos = 0;
    ViewBag.Title = "Artefactos";
    Layout = "~/Views/Shared/_LayoutOrganizacao.cshtml";
}   
@section breadcrumb {
    <li><a href="/Locais/Details/@Html.DisplayFor(model => model.LocalID)">@Html.DisplayFor(model => model.Nome)</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Dashboard/@Html.DisplayFor(model => model.LocalID)">Gestão do Local</a><span class="divider"><i class="icon-caret-right"></i></span></li>
    <li><a href="/DashLocal/Artefactos/@Html.DisplayFor(model => model.LocalID)">Artefactos</a></li>
}
@section dashboard{
    Artefactos  
}

            <div class="span12" style="margin-bottom:20px"> 

                <div class="pull-right" style="" >  
                        <a class="btn btn-flat btn-inverse pull-right" href="#"><i class="micon-plus"></i>  Adicionar novo artefacto</a>
                </div>
            </div>
            <section class="content-wrapper main-content clear-fix">

@foreach(var a in Model.Artefactos){
    					<div class="span4" 
                            @if((nr_artefactos++)%3==0){
                               <text> style="margin-left:0px"; </text>
                            }
                       >
					
						<!-- widget -->
						<div class="well widget">
							<!-- widget header -->
							<div class="widget-header">
								<h3 class="title"><a href="/Artefactos/Details/@a.ArtefactoID">@a.Nome</a></h3>
								<div class="widget-nav">
									<div class="dropdown nav-item">
										<a href="#" class="dropdown-toggle" data-toggle="dropdown">
											<i class="icon-cog"></i>
										</a>
										<ul class="dropdown-menu pull-right">
											<li>
                                                <a href="#">Apagar artefacto</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<!-- ./ widget header -->
							
							<!-- widget content -->
							<div class="widget-content" style=" height:100px;">
                                <div class="span6">
                                    <a href="/Artefactos/Details/@a.ArtefactoID">
                                        <img src="@(a.Imagens.ElementAt(0).Directoria.Caminho + a.Imagens.ElementAt(0).Nome)" style="height:109px"/></a>
                                </div>
                                <div class="span6">
                                    <b>Responsável:</b><br>@a.Responsavel.Utilizador.Nome<br>
                                    <b>Data da descoberta:</b><br>@a.DataDescoberta<br>
                                </div>
                                <div class="span6">
                                    <a class="btn btn-mini btn-danger t pull-right" href="#"><i class="micon-cancel-2"></i></a>
                                    <a class="btn btn-mini btn-inverse t pull-right" href="/Artefactos/Details/@a.ArtefactoID"><i class="micon-eye"></i></a>
                                </div>
							</div>
							<!-- ./ widget content -->
							
						</div>	

					</div>
}
           </section>