@model ArqueoDB.Models.Distrito

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Distrito</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pais.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pais.Nome)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.DistritoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
